.SearchButton {
  position: absolute;
  margin: 20px;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;

  @media only screen and (max-width: 600px) {
    margin: 0;
  }

  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: linear-gradient(
      300deg,
      #ff00b4,
      #ff6bd3,
      #82b4dc,
      #00ffcc,
      #73ffff
    );
    border-radius: 50%;
    transition: all 1s;

    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all 0.5s;
      @media only screen and (max-width: 600px) {
        width: 18px;
        height: 18px;
      }
    }

    @media only screen and (max-width: 600px) {
      font-size: 30px;
      width: 60px;
      height: 60px;
      position: sticky;
      bottom: 0;
      right: 0;
      margin: 20px;
    }
  }
}
