.App {
  height: 100vh;
  width: 100vw;
  border: 0;
  margin: 0;
}

canvas {
  cursor: pointer;
}

body {
  margin: 0;
  background: #000;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  @media only screen and (max-width: 600px) {
    overflow: unset;
    height: 100%;
    position: relative;
  }
}

.logocontainer {
  position: absolute;
  padding: 30px;
  top: 0;
  left: 2%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    height: 110px;
    @media only screen and (max-width: 600px) {
      height: 75px;
    }
  }

  .logoText {
    height: 85px;
    margin-left: 15px;
    @media only screen and (max-width: 600px) {
      height: 55px;
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 15px;
    .logo {
      height: 60px;
    }
    .logoText {
      height: 45px;
    }
  }
}

section {
  position: absolute;
  color: white;
  top: 40%;
  left: 5%;
  z-index: 1;
}

p span {
  font-size: 35px;
}

.container p {
  position: relative;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

#countryName {
  position: absolute;
  bottom: calc(50% + 220px);
  left: calc(50% + 220px);
  color: white;
  position: absolute;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: initial;
  letter-spacing: 1.5px;
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
